[{
  "SourceProget": {
    "Address": "https://proget.netsrv.it:38443/",
    "FeedName": "seqplug",
    "ApiKey": "etoapiKey"
  },
  "DestProget": {
    "Address": "https://pg.orpo.netsrv.pw/",
    "FeedName": "testnuget",
    "ApiKey": "etotosheApiKey"
  }
},
{
  "SourceProget": {
    "Address": "https://proget.netsrv.it:38443/",
    "FeedName": "Test",
    "ApiKey": "iEtoApiKey"
  },
  "DestProget": {
    "Address": "https://pg.orpo.netsrv.pw/",
    "FeedName": "Test",
    "ApiKey": "apiKey?"
  }
}
]